<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/javatry2/src/com/nist/javatry2/Person.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.nist.javatry2.Person"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="javatry2"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="javatry2"/>
</launchConfiguration>
